<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Millionaire"
        tools:targetApi="31">
        <activity
            android:name=".QuestionTenActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionNineActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionEightActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionSevenActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionSixActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionFiveActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionFourActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionThreeActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionTwoActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionOneActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>